<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/basic.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/class.css">

    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js?ver=1.4.2'></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="/public/scripts/basic.js"></script>
    <script src="/public/scripts/class.js" defer></script>

    <link rel="icon" type="image/png" href="/resources/favicon-png1.png">

    <title>Shock | 클래스</title>
</head>
<body>

    <div class="home-menu-box"></div>

    <div class="box">
        <div class="title">앗..</div>
        <div class="des">추후 출시될 기능이에요!<br>조금만 기다리면 팀을 생성하고 멤버를 초대해,<br> 팀 전용 단어장 보관함에 단어장을 추가하고<br> 자동적으로 공유하고 편집할 수 있어요!</div>
    </div>

    <div class="message-box"></div>

</body>
</html>