<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/basic.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/home.css">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/public/scripts/basic.js"></script>
    <script src="/public/scripts/dashboard.js"></script>

    <link rel="icon" type="image/png" href="/resources/favicon-png1.png">

    <title>Shock | 대시보드</title>
</head>
<body>
    <div class="home-menu-box"></div>

    <div class="home-title-box">
        <h2 class="home-title">반갑습니다.</h2>
        <h5 class="home-title-des">좋은 하루입니다, <%= userName %>님.</h4>
        <div class="flex-center">
            <a href="/dashboard/learn" class="home-title-Sellation-signup-btn">학습 시작하기</a>
        </div>
    </div>
</body>
</html>