<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/basic.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/home-main.css">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/public/scripts/basic.js"></script>
    <script src="/public/scripts/home.js"></script>

    <link rel="icon" type="image/png" href="/resources/favicon-png1.png">

    <title>Shock - 내가 골라 외우는 영단어</title>
</head>
<body>
    <div class="home-menu-box"></div>

    <div class="home-title-box">
        <h2 class="home-title">Shock,<br>내가 골라서 외우는<br>영단어</h2>
        <h5 class="home-title-des">소개합니다. 여러분의 영단어 외우기를 바꿀 Shock.</h4>
        <div class="flex-center">
            <a href="/signup" class="home-title-Sellation-signup-btn">시작해 볼까요?</a>
        </div>
    </div>
</body>
</html>