<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/basic.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/learn-words.css">

    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js?ver=1.4.2'></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="/public/scripts/basic.js"></script>
    <script src="/public/scripts/learn-words.js"></script>

    <link rel="icon" type="image/png" href="/resources/favicon-png1.png">

    <title>Shock | 단어 학습하기</title>
</head>
<body>

    <div class="words-box-wrap">
        <a class="back" href="/dashboard/learn">< 이전으로 돌아가기</a>
        <div class="words-box">
            <div class="words-box-wrap">
                <div class="words-word">-</div>
                <div class="words-mean">-</div>
            </div>
        </div>
        <div class="flex-between">
            <div class="btn-gray" id="before">이전</div>
            <div class="words-count">-</div>
            <div class="btn-blue" id="next">다음</div>
        </div>
    </div>

    <div class="message-box"></div>
</body>
</html>