<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/basic.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/info-pages.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/public/scripts/basic.js"></script>
    <script src="/public/scripts/mobile.js"></script>
    <link rel="icon" type="image/png" href="/resources/favicon-png1.png">

    <title>Shock | 모바일 기기 미지원</title>
</head>
<body>
    <div class="modal-background">
        <div class="modal-box" id="mobile-modal">
            <div class="flex-between">
                <div class="modal-title">서둘러 주세요!</div>
                <div id="mobile_close_id"><span class="material-icons modal-close-icon">clear</span></div>
            </div>
            <div class="modal-line"></div>

            <div class="modal-content" style="width: 450px; height: 65vh">
                <div class="mobile-content-box">
                    <h5>기다려 주셔서 감사드려요</h5>
                    <h6>모바일 최적화는 많은 작업이 필요한 만큼 지금 당장은 적용할 수 없어요.<br><br>단, 유저가 150명 이상이 되고 여러분이 모바일 최적화를 바란다면 모바일 최적화를 바로 시작할게요!</h6>
                    <a class="hurry-up-btn" id="copy-share-link">공유 링크 복사하기</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="box">
        <span class="material-icons email-icon">app_blocking</span>
        <h4 style="margin: 15px 0 0;">모바일 기기 미지원 안내</h3>
        <h5>현재 Shock 서비스는 모바일 기기를 지원하지 않아요.<br>PC에서 이용해주세요.<br>모바일에서도 사용할 수 있도록 노력할게요!</h5>
        <a class="hurry-up-btn">서둘러 주세요!</a>
    </div>

    <div class="message-box"></div>
</body>
</html>