<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/basic.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/info-pages.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/service.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/public/scripts/basic.js"></script>
    <script src="/public/scripts/service.js"></script>
    <link rel="icon" type="image/png" href="/resources/favicon-png1.png">

    <title>Shock | 서버 점검</title>
</head>
<body>
    <div class="modal-background">
        <div class="modal-box" id="service-modal">
            <div class="flex-between modal-title-box">
                <div class="modal-title">무슨 일인가요?</div>
                <div id="service_close_id"><span class="material-icons modal-close-icon">clear</span></div>
            </div>
            <div class="modal-line"></div>

            <div class="modal-content" style="width: 450px; height: 65vh">
                <div class="service-content-box">
                    <h5>죄송합니다</h5>
                    <h6>현재 예상치 않은 일이 발생해 서버를 긴급히 점검 중이에요.<br><br>예정된 정기 점검이 아니며, 언제 끝날지 알 수 없어요. 문의 사항은 서포트 서버를 찾아주세요.</h6>
                    <a class="hurry-up-btn" id="support-server">서포트 서버 방문하기</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="box">
        <span class="material-icons email-icon">new_releases</span>
        <h4 style="margin: 15px 0 0;">서버 점검 안내</h3>
        <h5>죄송합니다, 현재 서버에 문제가 생겨 점검 중입니다.<br>지금은 서비스를 이용하실 수 없습니다.<br>이용에 불편을 드려 죄송합니다.</h5>
        <a class="hurry-up-btn">무슨 일인가요?</a>
    </div>

    <div class="message-box"></div>
</body>
</html>