<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/basic.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/share.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/public/scripts/basic.js"></script>
    <script src="/public/scripts/share.js"></script>
    <link rel="icon" type="image/png" href="/resources/favicon-png1.png">

    <link rel="stylesheet" type="text/css" href="/public/stylesheets/info-pages.css">

    <title>Shock | 단어장 공유</title>
</head>
<body>
    <div class="box_">
        <div class="title">-</div>
        <div class="des">-</div>
        <div class="words-box">
        </div>
        <div class="btn-blue flex-center" id="add-words"><div class="btn-loading-box"><div class="btn-loading-circle"></div></div>내 단어장에 추가하기</div>
    </div>

    <div class="box">
        <span class="material-icons email-icon">task_alt</span>
        <h4 style="margin: 15px 0 0;">단어장 추가를 완료했습니다!</h3>
        <h5>내 단어장에 추가했어요!<br>이제 확인해보세요!</h5>
        <a href="/dashboard/words" class="btn-blue">확인하기</a>
    </div>
</body>
</html>