<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/basic.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/info-pages.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/public/scripts/basic.js"></script>
    <link rel="icon" type="image/png" href="/resources/favicon-png1.png">

    <title>Shock | 회원가입 완료</title>
</head>
<body>
    <div class="box">
        <span class="material-icons email-icon">task_alt</span>
        <h4 style="margin: 15px 0 0;">회원가입을 완료했습니다!</h3>
        <h5>회원가입을 완료했어요!<br>이제 로그인해보세요!</h5>
        <a href="/login" class="btn-blue"><span class="material-icons btn-icon">login</span>로그인 하기</a>
    </div>

    <div class="message-box"></div>
</body>
</html>