<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/basic.css">

    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js?ver=1.4.2'></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script src="https://unpkg.com/html2canvas@1.0.0-rc.5/dist/html2canvas.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/public/scripts/basic.js"></script>
    <script src="/public/scripts/table.js" defer></script>

    <link rel="icon" type="image/png" href="/resources/favicon-png1.png">

    <title>Shock | 단어장 출력</title>

    <style>
        .slice {
            padding: 70px;
            box-sizing: border-box;
            width: 790px;
        }
        h1 {
            font-size: 40px;
            font-weight: bold;
            color: #333333;
            border-bottom: 1px solid #cecece;
            padding: 0 0 50px 0;
        }
    </style>
</head>
<body>
    <table>
    </table>
</body>
</html>