.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.title {
    font-size: 60px;
    margin: 0 0 20px;
    color: #333333;
    font-weight: bold;
}
.des {
    font-size: 17px;
    color: #666666;
    line-height: 20px;
}