.home-title {
    text-align: center;
    line-height: 90px;

    font-size: 4.5rem;

    width: 100%;
}
.home-title-des {
    margin: 40px 0 50px;
    text-align: center;
}
.home-title-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.home-title-Sellation-signup-btn {
    width: auto;
    height: 60px;

    font-size: 1.1rem;

    padding: 0 30px;
    box-sizing: border-box;

    text-decoration: none;

    display: inline-block;

    color: white;

    text-align: center;
    line-height: 60px;

    border-radius: 5px;

    margin: 0 auto;

    background-color: #1A73E8;
    box-shadow: 0 0 20px rgb(26 104 206 / 40%);

    transition: .2s;
    transition-property: background-color;

    cursor: pointer;
}
.home-title-Sellation-signup-btn:hover {
    background-color: #1A68CE;
}

body {
    background-color: #ECECEC;
}

.home-des-box {
    position: absolute;
    top: 100%;

    width: 100%;
    height: auto;
}
.home-des-box-box1 {
    width: 100%;
    height: auto;

    padding: 300px 0;
    box-sizing: border-box;
}

@media all and (max-width: 1150px) {
    .home-title {
        font-size: 2.5rem;
        line-height: 50px;
        width: 100%;
    }
    .home-title-des {
        font-size: 0.8rem;
    }
    .home-title-box {
        width: 100%;
    }
    .home-title-Sellation-signup-btn {
        width: auto;
        font-size: 15px;
        height: 50px;
        line-height: 50px;
        padding: 0 17px;
    }
}