body {
    background-image: url('https://cdn.pixabay.com/photo/2016/06/01/06/26/open-book-1428428_1280.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
}

.home-title {
    color: white;
}
.home-title-des {
    color: white;
}

@media all and (max-width: 1150px) {
    body {
        background-size: 150vh;
    }
    .home-title-box {
        width: 100%;
    }
    .home-title {
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .home-title-des {
        font-size: 1rem;
    }
}