.words-box-wrap {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.words-box {
    width: 700px;
    height: 450px;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);

    border-radius: 20px;
    margin: 0 0 20px;
}
.words-count {
    line-height: 54px;
    color: #666666;
}
.back {
    margin: 0 0 20px;
    font-size: 17px;
    color: #666666;

    display: block;
    text-decoration: none;
}

.words-box {
    position: relative;
}
.words-word {
    text-align: center;
    font-size: 90px;
    font-weight: bold;
    color: #333333;
    margin: 0 0 25px;
}
.words-mean {
    text-align: center;
    font-size: 30px;
    color: #666666;
}
.words-box-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media all and (max-width: 1000px) {
    .words-box-wrap {
        width: 90%;
    }
    .words-box {
        width: 100%;
        height: 40vh;
    }
    .words-count {
        font-size: 14px;
    }
    .words-word {
        font-size: 2.5rem;
        margin: 0 0 10px;
    }
    .words-mean {
        font-size: 1.5rem;
    }
}