.words-box {
    margin: 150px auto;
    width: 900px;
}
h3 {
    line-height: 54px;
}
.slice {
    padding: 70px;
    box-sizing: border-box;
    width: 790px;
}
h1 {
    font-size: 40px;
    font-weight: bold;
    color: #333333;
    border-bottom: 1px solid #cecece;
    padding: 0 0 50px 0;
}
.words-box-wrap {
    margin: 40px 0 0;
}
.words-box-content {
    width: auto;
    height: 70px;

    border-radius: 10px;

    background-color: white;

    padding: 20px;
    box-sizing: border-box;

    margin: 0 0 10px;
}
.words-box-content-title {
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
    color: #333333;
}
.words-box-content-des {
    font-size: 15px;
    line-height: 30px;
    color: #666666;
    margin: 0 0 0 7px;
}

#words-load-loading-box {
    margin: 50px auto;

    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    position: absolute;
}
.no-words {
    text-align: center;
    font-size: 20px;

    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    position: absolute;
}

.words-box-content-btn {
    height: 30px;
    width: 110px;

    background-color: #1A73E8;
    border-radius: 5px;
    line-height: 30px;

    color: white;
    text-align: center;

    cursor: pointer;

    transition: .2s;
    transition-property: background-color;
}
.words-box-content-btn:hover {
    background-color: #1A68CE;
}
.words-box-content-btn2 {
    height: 30px;
    width: 90px;

    background-color: #ECECEC;
    border-radius: 5px;
    line-height: 30px;

    text-align: center;

    cursor: pointer;

    transition: .2s;
    transition-property: background-color;

    margin: 0 10px 0 0;
}
.words-box-content-btn2:hover {
    background-color: #d8d8d8;
}

#learn-words-modal .modal-content .content-box .flex {
    margin: 0 0 5px;
}
#learn-words-modal .modal-content .content-box {
    margin: 0 0 20px;
}
#print-words-modal .modal-content .flex {
    margin: 0 0 5px;
}