.input_title {
    margin: 0 0 5px !important;
}
h3 {
    margin: 0 0 30px;
}
.login-box {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 450px;
}
.btn-icon {
    margin: 0 0 0 5px !important;
}
#login-login-btn {
    margin: 20px 0 0;
    width: 450px;
    text-align: center;
}
.btn-loading-box {
    display: none;
}
h6 {
    text-align: center;
    margin: 40px 0 0;
    font-weight: normal;
}
a {
    color: #1A73E8;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.redirect-info-box {
    width: 450px;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ECECEC;

    margin: 0 0 20px;
    border-radius: 10px;

    font-size: 16px;
    color: #666666;

    word-break: keep-all;

    display: none;
}
.redirect-info-box .material-icons {
    color: #666666;
    margin: 0 5px 0 0;
}

@media all and (max-width: 500px) {
    .redirect-info-box .material-icons {
        font-size: 20px;
    }
    .redirect-info-box {
        width: 100%;
        font-size: 14px;
    }
    .login-box {
        width: 90%;
    }
    #login-login-btn {
        width: 100% !important;
    }
    h6 {
        margin: 20px 0 0;
    }
}