.box_ {
    margin: 160px auto;
    width: 500px;
}
.title {
    font-size: 60px;
    font-weight: bold;
    color: #333333;
}
.des {
    margin: 20px 0;
    line-height: 20px;
    font-size: 15px;
    color: #666666;
}

.words-box {
    margin: 50px 0 0;
    width: 500px;
}
.words-box-box {
    width: auto;
    height: 95px;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    margin: 0 0 20px;
    border-radius: 10px;

    padding: 20px;
    box-sizing: border-box;
}
.words-title {
    font-size: 30px;
    font-weight: bold;
    color: #333333;
}
.words-mean {
    color: #666666;
    margin: 5px 0 0;
}
#add-words {
    width: 500px;
    margin: 50px 0 13px;
    text-align: center;
}
.contains {
    text-align: center;
    color: #666666;
}
h4 {
    word-break: keep-all;
}

@media all and (max-width: 1000px) {
    .box_ {
        margin: 50px auto;
        width: 80%;
    }
    .words-box {
        width: 100%;
    }
    #add-words {
        width: 100%;
    }
    .contains {
        font-size: 0.9rem;
    }
}