<script src="/public/scripts/dashboard-menu.js"></script>
<link rel="stylesheet" type="text/css" href="/public/stylesheets/menu.css">

<div class="home-menu flex-between">
    <div class="flex">
        <div class="menu-Sellation-profile"></div>
        <div class="menu-menu-box flex">
            <a href="/dashboard/words" class="menu-menu-text">단어장</a>
            <a href="/dashboard/learn" class="menu-menu-text">학습</a>
            <a href="/dashboard/class" class="menu-menu-text">클래스</a>
        </div>
    </div>
    <div class="flex">
        <div class="menu-Sellation-login-btn flex"><span class="material-icons btn-icon">logout</span>로그아웃</div>
    </div>
</div>